# ============================================================
# CONFIGURACIÓN DEL SERVIDOR — Renombrar este archivo a .env
# ============================================================

# Puerto donde corre el servidor Express
PORT=5000

# Configuración de la Base de Datos MySQL
# ⚠️ Cambia DB_PASS por la contraseña de tu MySQL local
DB_HOST=localhost
DB_USER=root
DB_PASS=tu_contraseña_aqui
DB_NAME=parcial2_raul

# Clave secreta para firmar los tokens JWT (puede dejarse igual)
JWT_SECRET=generic_architecture_key_2026
